html {
  scroll-behavior: smooth;
  height: 100%; }

@font-face {
  font-family: arcade;
  src: url(../fonts/manaspc.ttf);
  font-family: 'Roboto', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Nova Square', cursive; }
.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

body {
  background-color: #20303B;
  height: 100%;
  color: skyblue;
  font-family: Roboto; }

.website {
  position: absolute;
  top: 1.1em;
  width: 100%;
  min-height: 100%; }

.main {
  text-align: center;
  margin-top: 2em; }
  .main h1 {
    margin: 0px; }

.sub-head a {
  color: skyblue; }

.home-post {
  text-align: center; }

#statement {
  justify-content: center;
  width: 100%; }

.word {
  width: 60%;
  justify-content: center; }

.twitter {
  justify-content: center; }

.system-container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.system-card {
  text-align: center;
  width: 275px;
  height: 275px;
  border: 1px solid lightgray;
  margin: 0px 35px;
  margin-bottom: 35px;
  justify-content: center;
  overflow: hidden; }
  .system-card h4 {
    width: 275px; }

.center {
  justify-content: center;
  align-items: center; }

.nintendo {
  display: none; }

.sony {
  display: none; }

footer {
  position: absolute;
  bottom: 0;
  justify-content: space-around;
  width: 100%; }
  footer a {
    color: skyblue; }

ion-icon {
  font-size: 32px;
  color: skyblue;
  transition: .5s;
  padding: 0px 7px; }

nav {
  justify-content: space-between;
  background-color: #31356E;
  position: fixed;
  top: 0;
  margin-bottom: 100px;
  width: 100%;
  z-index: 100; }
  nav a:hover, nav ion-icon:hover {
    color: #648ACC; }

#dropNav {
  display: none; }
  #dropNav img {
    height: 40px; }
  #dropNav a:hover {
    background-color: #5359b2; }

.links {
  align-items: center; }
  .links a {
    padding: 0px 15px;
    margin: 0px 15px;
    color: skyblue;
    transition: .5s; }

.header-right {
  margin-right: 35px; }

.nintendo {
  text-align: center;
  background-image: url("../img/marioclouds.gif");
  background-size: 100% 100%;
  color: white;
  font-family: 'Nova Square';
  margin-top: 2em;
  padding-top: 5px;
  width: 90%;
  justify-content: center;
  margin-bottom: 100px; }

.ninHeading {
  text-shadow: 2px 2px 5px black; }
  .ninHeading h2 {
    margin-bottom: 0px; }

.nes, .snes, .n64, .gamecube, .wii, .switch, .gameboy, .gbadvance, .virtual, .ds, .nin3ds {
  background-size: 100% 100%;
  align-items: center; }
  .nes h4, .snes h4, .n64 h4, .gamecube h4, .wii h4, .switch h4, .gameboy h4, .gbadvance h4, .virtual h4, .ds h4, .nin3ds h4 {
    padding: 0px 15px; }
  .nes a, .snes a, .n64 a, .gamecube a, .wii a, .switch a, .gameboy a, .gbadvance a, .virtual a, .ds a, .nin3ds a {
    transition: .5s; }
  .nes a:link, .snes a:link, .n64 a:link, .gamecube a:link, .wii a:link, .switch a:link, .gameboy a:link, .gbadvance a:link, .virtual a:link, .ds a:link, .nin3ds a:link {
    color: white; }
  .nes a:visited, .snes a:visited, .n64 a:visited, .gamecube a:visited, .wii a:visited, .switch a:visited, .gameboy a:visited, .gbadvance a:visited, .virtual a:visited, .ds a:visited, .nin3ds a:visited {
    color: white; }
  .nes a:hover, .snes a:hover, .n64 a:hover, .gamecube a:hover, .wii a:hover, .switch a:hover, .gameboy a:hover, .gbadvance a:hover, .virtual a:hover, .ds a:hover, .nin3ds a:hover {
    color: #20303B;
    padding: 0px 137.5px;
    background-color: white; }
  .nes a:active, .snes a:active, .n64 a:active, .gamecube a:active, .wii a:active, .switch a:active, .gameboy a:active, .gbadvance a:active, .virtual a:active, .ds a:active, .nin3ds a:active {
    color: white; }

.nes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/nes.png"); }

.snes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/snes.png"); }

.n64 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/n64.png"); }

.gamecube {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/gamecube.png"); }

.wii {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/wiiu.png"); }

.switch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/switch.png"); }

.gameboy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/gameboy.png"); }

.gbadvance {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/gbadvance.png"); }

.virtual {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/virtualboy.png"); }

.ds {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/ds.png"); }

.nin3ds {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/3ds.png"); }

.sony {
  text-align: center;
  background-image: url("../img/playstation.jpg");
  background-size: 100% 100%;
  color: white;
  font-family: 'Nova Square';
  margin-top: 2em;
  padding-top: 5px;
  width: 90%;
  justify-content: center;
  margin-bottom: 100px; }

.sonyHeading {
  text-shadow: 2px 2px 5px black; }
  .sonyHeading h2 {
    margin-bottom: 0px; }

.playstation, .ps2, .ps4, .psp, .vita {
  background-size: 100% 100%;
  align-items: center; }
  .playstation h4, .ps2 h4, .ps4 h4, .psp h4, .vita h4 {
    padding: 0px 15px; }
  .playstation a, .ps2 a, .ps4 a, .psp a, .vita a {
    transition: .5s; }
  .playstation a:link, .ps2 a:link, .ps4 a:link, .psp a:link, .vita a:link {
    color: white; }
  .playstation a:visited, .ps2 a:visited, .ps4 a:visited, .psp a:visited, .vita a:visited {
    color: white; }
  .playstation a:hover, .ps2 a:hover, .ps4 a:hover, .psp a:hover, .vita a:hover {
    color: #20303B;
    padding: 0px 137.5px;
    background-color: white; }
  .playstation a:active, .ps2 a:active, .ps4 a:active, .psp a:active, .vita a:active {
    color: white; }

.playstation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/playstation.png"); }

.ps2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/playstation2.png"); }

.ps4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/playstation4.png"); }

.psp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/psp.png"); }

.vita {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/psvita.png"); }

@media screen and (max-width: 1200px) {
  .system-card {
    margin: 0; } }
@media screen and (max-width: 850px) {
  body {
    margin: 0px; }

  #dropNav {
    display: flex;
    justify-content: space-around;
    margin: 0px; }
    #dropNav img {
      height: 24px; }

  #regularNav {
    display: none; }

  .website {
    position: absolute;
    margin-top: 3em; }

  .system-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue; }

  .nintendo {
    width: 300px; }

  .twitter {
    margin-bottom: 60px; }

  ion-icon {
    font-size: 24px; }

  .header-right {
    margin: 5px;
    justify-content: center; }

  #cellphone, #regularNav {
    flex-direction: column; }

  .links a {
    padding: 0px;
    margin: 0px; }

  #footer {
    margin-top: 60px;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #footer p {
      padding: 0;
      margin: 0; } }

/*# sourceMappingURL=output.css.map */
