@media screen and (max-width: 1200px) {
  .system-card {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {

  body {
    margin: 0px;
  }
  #dropNav {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    img {
      height: 24px;
    }
  }
  #regularNav {
    display: none;
  }

  .website {
    position: absolute;
    margin-top: 3em;
  }

  .system-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
  }

  .nintendo {
    width: 300px;
  }

  .twitter {
    margin-bottom: 60px;
  }

  ion-icon {
    font-size: 24px;
  }

  .header-right {
    margin: 5px;
    justify-content: center;
  }

  #cellphone, #regularNav {
    flex-direction: column;
  }

  .links {
    a{
      padding: 0px;
      margin: 0px;
    }
  }

  #footer{
    margin-top: 60px;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      padding: 0;
      margin: 0;
    }
  }
}
