ion-icon {
  font-size: 32px;
  color: skyblue;
  transition: .5s;
  padding: 0px 7px;
}

nav {
  justify-content: space-between;
  background-color: $navBlue;
  position: fixed;
  top: 0;
  margin-bottom: 100px;
  width: 100%;
  z-index: 100;
  a:hover, ion-icon:hover {
    color: #648ACC;
  }
}

#dropNav {
  display: none;
  img {
    height: 40px;
  }
  a:hover {
    background-color: lighten($navBlue, 20);
  }
}


.links {
  align-items: center;
  a {
    padding: 0px 15px;
    margin: 0px 15px;
    color: skyblue;
    transition: .5s;
  }
}

.header-right {
  margin-right: 35px;
}
