html {
  scroll-behavior: smooth;
}

* {
  // border: red 1px solid;
}

@font-face {
  font-family: arcade;
  src: url(../fonts/manaspc.ttf);
  font-family: 'Roboto', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Nova Square', cursive;
}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #20303B;
  height: 100%;
  color: skyblue;
  font-family: Roboto;
  // background-image: url("../img/brick.jpg");
}

.website {
  position: absolute;
  top: 1.1em;
}

.main
{
  h1 {
    text-align: center;
    margin-bottom: -16px;
  }
  p {
    text-align: center;
  }
}

.home-post {
  text-align: center;
}

#statement {
  justify-content: center;
  width: 100%;
}

.word {
  width: 60%;
  justify-content: center;
}

.system-container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // height: 0;
  // padding-top: 56.25%;
}

.system-card {
  text-align: center;
  width: 275px;
  height: 275px;
  padding: 1%;
  border: 1px solid lightgray;
  margin: 0px 35px;
  margin-bottom: 35px;
  justify-content: center;
}

.center {
  justify-content: center;
  align-items: center;
}

footer {
  justify-content: space-around;
  width: 100%;
  bottom: 0px;

}
